<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Исследование-таблиц" data-toc-modified-id="Исследование-таблиц-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Исследование таблиц</a></span><ul class="toc-item"><li><span><a href="#Вывод-таблицы-book" data-toc-modified-id="Вывод-таблицы-book-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Вывод таблицы book</a></span></li><li><span><a href="#Вывод-всех-таблиц" data-toc-modified-id="Вывод-всех-таблиц-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Вывод всех таблиц</a></span></li><li><span><a href="#Вывод-таблицы-publishers" data-toc-modified-id="Вывод-таблицы-publishers-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Вывод таблицы publishers</a></span></li><li><span><a href="#Вывод-таблицы-ratings" data-toc-modified-id="Вывод-таблицы-ratings-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Вывод таблицы ratings</a></span></li><li><span><a href="#Вывод-таблицы-reviews" data-toc-modified-id="Вывод-таблицы-reviews-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Вывод таблицы reviews</a></span></li><li><span><a href="#Выводы" data-toc-modified-id="Выводы-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Выводы</a></span></li></ul></li><li><span><a href="#Анализ-базы-данных" data-toc-modified-id="Анализ-базы-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Анализ базы данных</a></span><ul class="toc-item"><li><span><a href="#Расчёт-кол-ва-книг-после-1-января-2000-года" data-toc-modified-id="Расчёт-кол-ва-книг-после-1-января-2000-года-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Расчёт кол-ва книг после 1 января 2000 года</a></span></li><li><span><a href="#Расчёт-кол-ва-обзоров-и-средней-оценки-для-каждой-книги" data-toc-modified-id="Расчёт-кол-ва-обзоров-и-средней-оценки-для-каждой-книги-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Расчёт кол-ва обзоров и средней оценки для каждой книги</a></span></li><li><span><a href="#Определение-издательства,-которое-выпустило-наибольшее-число-книг" data-toc-modified-id="Определение-издательства,-которое-выпустило-наибольшее-число-книг-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Определение издательства, которое выпустило наибольшее число книг</a></span></li><li><span><a href="#Определение-автора-с-самой-высокой-средней-оценкой-книг" data-toc-modified-id="Определение-автора-с-самой-высокой-средней-оценкой-книг-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Определение автора с самой высокой средней оценкой книг</a></span></li><li><span><a href="#Определение-среднего-количества-обзоров-от-пользователей" data-toc-modified-id="Определение-среднего-количества-обзоров-от-пользователей-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Определение среднего количества обзоров от пользователей</a></span></li></ul></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Вывод</a></span></li></ul></div>

# Анализ базы данных сервиса для чтения книг по подписке


**Описание проекта**

Коронавирус застал мир врасплох, изменив привычный порядок вещей. В свободное время жители городов больше не выходят на улицу, не посещают кафе и торговые центры. Зато стало больше времени для книг. Это заметили стартаперы — и бросились создавать приложения для тех, кто любит читать.

Наша компания решила быть на волне и купила крупный сервис для чтения книг по подписке. 


**Цель исследования** — проанализировать базу данных, выполнив следующие задания:


- Посчитать, сколько книг вышло после 1 января 2000 года;
- Для каждой книги посчитать количество обзоров и среднюю оценку;
- Определить издательство, которое выпустило наибольшее число книг толще 50 страниц — так мы исключим из анализа брошюры;
- Определить автора с самой высокой средней оценкой книг — будем учитывать только книги с 50 и более оценками;
- Посчитать среднее количество обзоров от пользователей, которые поставили больше 50 оценок.


В базе — информация о книгах, издательствах, авторах, а также пользовательские обзоры книг. Эти данные помогут сформулировать ценностное предложение для нового продукта.

**Описание данных.**

**Таблица `books`**

Содержит данные о книгах:

- `book_id` — идентификатор книги;
- `author_id` — идентификатор автора;
- `title` — название книги;
- `num_pages` — количество страниц;
- `publication_date` — дата публикации книги;
- `publisher_id` — идентификатор издателя.

**Таблица `authors`**

Содержит данные об авторах:

- `author_id` — идентификатор автора;
- `author` — имя автора.

**Таблица `publishers`**

Содержит данные об издательствах:

- `publisher_id` — идентификатор издательства;
- `publisher` — название издательства;

**Таблица `ratings`**

Содержит данные о пользовательских оценках книг:

- `rating_id` — идентификатор оценки;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, оставившего оценку;
- `rating` — оценка книги.

**Таблица `reviews`**

Содержит данные о пользовательских обзорах на книги:

- `review_id` — идентификатор обзора;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, написавшего обзор;
- `text` — текст обзора.

**Ход исследования**

- Выведем первые строки таблиц;
- Сделаем по одному SQL-запросу для решения поставленной цели;
- Опишем выводы по каждой из решённых задач.

## Исследование таблиц

Подготовим подключение к базе данных.

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [17]:
# устанавливаем параметры
db_config = {'user': 'praktikum_student', # имя пользователя
'pwd': 'Sdf4$2;d-d30pp', # пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # порт подключения
'db': 'data-analyst-final-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db']) 

# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

###  Вывод таблицы book

Осуществим подготовку `query` запроса для таблицы `book`.

In [18]:
query_books = ''' 
                    SELECT *
                    FROM books
                    ORDER BY publication_date DESC
              '''

Выполним вывод первых пяти строк таблицы `book`.

In [19]:
books = pd.io.sql.read_sql(query_books, con=engine)
books.head()

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,43,377,A Quick Bite (Argeneau #1),360,2020-03-31,28
1,635,166,The Art of Loving,192,2019-08-06,130
2,445,612,Monster,281,2019-03-05,14
3,993,80,Women,291,2014-07-29,99
4,293,80,Ham on Rye,288,2014-07-29,99

Отметим, что в нашей базе данных наблюдается провал в книгах с 2015 по 2018 года.

Посчитаем общее кол-во книг в базе данных.

In [20]:
# подготовка query запроса
query_books_n = ''' 
                    SELECT COUNT(*) AS Общее_количество_книг
                    FROM books
                    
              '''

In [22]:
# вывод кол-ва книг
books_n = pd.io.sql.read_sql(query_books_n, con=engine,index_col='Общее_количество_книг')
books_n

Empty DataFrame
Columns: []
Index: [1000]

Таким образом, в базе содержится 1000 книг.

###  Вывод всех таблиц

Дабы не дублировать код, осуществим вывод всех остальных таблиц базы данных.

In [26]:

from IPython.display import display
for table in ['authors','publishers','ratings','reviews']:
    print(f'Таблица {table}')
    print('*'*50)
    query = f"""SELECT * FROM {table}"""
    data = pd.io.sql.read_sql(query, con=engine)
    display(data.info())
    display(data.head(5))
    print('*'*50)

Таблица authors
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB

None

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

**************************************************
Таблица publishers
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  340 non-null    int64
 1   publisher     340 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

None

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

**************************************************
Таблица ratings
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB

None

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

**************************************************
Таблица reviews
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB

None

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

**************************************************

###  Выводы

Мы осуществили вывод таблиц базы данных и сформировали понимание относительно их наполнения. Перейдем к решению заданий.

## Анализ базы данных

### Расчёт кол-ва книг после 1 января 2000 года

Осуществим подготовку `query` запроса для таблицы `books`.

In [7]:
query_q1 = ''' SELECT COUNT(publication_date) AS Количество_книг
                FROM books
                WHERE publication_date > '2000-01-01'
        '''

Выполним вывод `query_q1` запроса.

In [8]:
q1 = pd.io.sql.read_sql(query_q1, con=engine, index_col='Количество_книг')
q1

Empty DataFrame
Columns: []
Index: [819]

Итак, примерно 82% книг нашей базы данных вышли после 1 января 2000 года.

### Расчёт кол-ва обзоров и средней оценки для каждой книги

Осуществим подготовку `query` запроса для расчёта кол-ва обзоров и средней оценки для каждой книги.

In [9]:
query_q2 = ''' 

WITH 
t1 AS (SELECT title, COUNT(r.book_id) AS Количество_обзоров
        FROM reviews AS r
        LEFT JOIN books AS b ON r.book_id = b.book_id
        GROUP BY title, r.book_id
        ORDER BY 2 DESC),
        
t2 AS (SELECT title, AVG(rating) AS Средняя_оценка
        FROM ratings AS rt
        LEFT JOIN books AS b ON rt.book_id = b.book_id
        GROUP BY title
        ORDER BY 2 DESC)
SELECT t2.title, COALESCE(Количество_обзоров, 0) AS Количество_обзоров, Средняя_оценка
FROM t1
FULL OUTER JOIN t2 ON t1.title = t2.title
ORDER BY 2 DESC,3 DESC


        '''

Выполним вывод первых пяти строк таблицы.

In [10]:
q2 = pd.io.sql.read_sql(query_q2, con = engine) 
q2.head(10)

,title,Количество_обзоров,Средняя_оценка
0,Twilight (Twilight #1),7,3.662500
1,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
2,Harry Potter and the Chamber of Secrets (Harry...,6,4.287500
3,The Book Thief,6,4.264151
4,The Glass Castle,6,4.206897
5,Outlander (Outlander #1),6,4.125000
6,The Hobbit or There and Back Again,6,4.125000
7,The Curious Incident of the Dog in the Night-Time,6,4.081081
8,The Lightning Thief (Percy Jackson and the Oly...,6,4.080645
9,Water for Elephants,6,3.977273

Заметим, что большое кол-во обзоров не сказывается на средней оценке пользователей. Решающее значение, всё же, играет содержание. Опираясь на среднюю оценку, мы можем предлагать пользователям более качественный материал для чтения и тем самым удерживать своего клиента.

### Определение издательства, которое выпустило наибольшее число книг

Осуществим подготовку `query` запроса для определения издательства.

In [11]:
query_q3 = ''' SELECT publisher AS Издательство, COUNT(title) AS Число_книг
                FROM publishers AS p
                JOIN books AS b ON p.publisher_id = b.publisher_id
                WHERE num_pages > 50
                GROUP BY publisher
                ORDER BY 2 DESC
                LIMIT 1
        '''

Выполним вывод наименования издательства и кол-ва выпущенных книг.

In [12]:
q3 = pd.io.sql.read_sql(query_q3, con = engine, index_col = 'Издательство') 
q3

               Число_книг
Издательство
Penguin Books          42

Таким образом, издательство `Penguin Books` выпустило наибольшее число книг 42 шт. Возможно, что у данного издательства существуют и другие книги, которыми можно дополнить нашу базу данных.

### Определение автора с самой высокой средней оценкой книг

Осуществим подготовку `query` запроса для определения автора.

In [13]:
query_q4 = ''' 

WITH 
t1 AS (SELECT author, title, AVG(rating)
        FROM authors AS a
        LEFT JOIN books AS b ON a.author_id = b.author_id
        
        LEFT JOIN ratings AS rt ON b.book_id = rt.book_id
        
        WHERE rt.book_id IN (SELECT book_id
        FROM ratings AS rt
        GROUP BY rt.book_id
        HAVING COUNT(rt.book_id) >= 50)
        GROUP BY author, title
        
   
   
   )




SELECT author, AVG(avg) as Средний_рейтинг
From t1
GROUP BY author
ORDER BY AVG(avg) DESC
LIMIT 1
             
        '''

Выполним вывод автора с самой высокой средней оценкой книг.

In [14]:
q4 = pd.io.sql.read_sql(query_q4, con = engine) 
q4

                       author  Средний_рейтинг
0  J.K. Rowling/Mary GrandPré         4.283844

Итак, по мнению пользователей автором с самой высокой средней оценкой книг является J.K. Rowling с ее книгами о Гарри Поттере. Для нас это дополнительный стимул, чтобы предлагать данного автора чаще и осуществлять формирование подборок для пользователей, руководствуясь этим критерием.

### Определение среднего количества обзоров от пользователей

Осуществим подготовку `query` запроса для определения среднего количества обзоров от пользователей.

In [15]:
query_q5 = ''' 

WITH t1 AS

(SELECT username, COUNT(username) AS Число_обзоров
               FROM reviews
               WHERE username IN (SELECT username
                                    FROM ratings AS rt
                                    GROUP BY username
                                    HAVING COUNT(rating) >50)
               GROUP BY username)
SELECT ROUND(AVG(Число_обзоров)) AS Среднее_количество_обзоров
FROM t1
               
        '''

Выполним вывод среднего количества обзоров от пользователей.

In [16]:
q5 = pd.io.sql.read_sql(query_q5, con = engine,  index_col = 'Среднее_количество_обзоров' ) 
q5

Empty DataFrame
Columns: []
Index: [24.0]

Итак, среднее кол-во обзоров от пользователей составляет 24 шт. Обзоры от пользователей помогают развиваться нашему сервису для чтения книг по подписке. Для клиентов, которые превышают данный порог, необходимо разработать и внедрить систему поощрительных мер.

## Вывод

Мы проанализировали базу данных сервиса для чтения книг по подписке и можем дать следующие рекомендации/инсайты отделу маркетинга для формирования ценностного предложения для нового продукта:

 - 82% книг нашей базы данных вышли после 1 января 2000 года;
 
 
 - основное внимание необходимо обращать на среднюю оценку пользователей той или иной книги, невзирая на кол-во обзоров;
 
 
 - осуществить дополнительный анализ топ 5 издательств на предмет средней оценки выпущенных ими книг и последующее дополнение библиотеки другими книгами этих издательств;
 
  
 - выполнить разработку и внедрение маркетинговых стратегий на основе самого популярного автора: J.K. Rowling;
 
  
 - разработать и внедрить систему поощрительных мер для пользователей, исходя из среднего кол-ва обзоров в 24 шт.